<!DOCTYPE html>
<html>
<head>
  <title>Xác thực tài khoản</title>
</head>
<body>
  <h2>Xin chào {{email}},</h2>
  <p>Cảm ơn bạn đã đăng ký tài khoản tại Hotel App!</p>
  <p>Vui lòng nhấp vào link dưới đây để xác thực email của bạn:</p>
  <a href="{{verificationLink}}">Xác thực tài khoản</a>
  <p>Nếu bạn không đăng ký, vui lòng bỏ qua email này.</p>
  <p>Trân trọng,<br>Hotel App Team</p>
</body>
</html>